<?xml version="1.0" ?>
<!--
/**
  * @package     PrestonChoate/CardingPrevention
  * @author      Preston Choate <pchoate15@gmail.com>
  * @copyright   Copyright © 2021. All rights reserved.
  */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carding_prevention>
            <general>
                <enabled>0</enabled>
                <threshold>60</threshold>
            </general>
        </carding_prevention>
    </default>
</config>
